<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand">Galvanize Classifieds</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        </div>
    </div>
</nav>


<main class="container">

    <div class="pull-right">
        <p><a class="btn btn-info" ng-click="$ctrl.toggleNewPost()">New Post</a></p>
    </div>

    <ul class="nav nav-pills">
        <li role="presentation" class="active col-md-2 col-sm-4">
            <input type="search" class="form-control input-sm search-form" placeholder="Filter by Title" ng-model="toFilterBy.title">
        </li>
        <li role="presentation" class="active col-md-2 col-sm-4">
            <input type="search" class="form-control input-sm search-form" placeholder="Filter by Description" ng-model="toFilterBy.description">
        </li>
        <div class="form-inline col-md-2 col-sm-4">

            <select class="form-control" id="sort" ng-model="$ctrl.sortBy">
              <option value='-created_at' selected="selected"> Sort by Date</option>
              <option value='title'>Sort by Title</option>
            </select>
        </div>
    </ul>
<h2 class="col-md-12 col-sm-12 text-center">Stuff to buy near you</h2>
    <div class="row" ng-show="$ctrl.showNewPost">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <form novalidate name="$ctrl.postForm" class="form" ng-submit="$ctrl.postForm.$valid && $ctrl.addItem()">
                <!-- need to update addItem funcitonality -->
                <div class="form-group" ng-class="{ 'has-error' : $ctrl.postForm.title.$invalid && $ctrl.postForm.title.$touched }">
                    <label class="control-label" for="title">Title</label>
                    <input name="title" id="title" class="form-control" ng-model="$ctrl.ad.title" required type="text">
                </div>

                <div class="form-group" ng-class="{ 'has-error' : $ctrl.postForm.description.$invalid && $ctrl.postForm.description.$touched }">
                    <label for="description">Description</label>
                    <textarea name="description" id="description" class="form-control" ng-model="$ctrl.ad.description" required></textarea>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : $ctrl.postForm.price.$invalid && $ctrl.postForm.price.$touched }">
                    <label for="price">Price</label>
                    <input name="price" id="price" class="form-control" ng-model="$ctrl.ad.price" required type="text">
                </div>

                <div class="form-group" ng-class="{ 'has-error' : $ctrl.postForm.item_image.$invalid && $ctrl.postForm.item_image.$touched }">
                    <label for="item_image">Image URL</label>
                    <input name="item_image" id="item_image" class="form-control" ng-model="$ctrl.ad.item_image" required type="text">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
            Create Post
                </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row" ng-repeat="ad in $ctrl.adsList | orderBy:$ctrl.sortBy | filter:toFilterBy:strict">
        <div class="col-md-12">

            <div class="well row">
                <div class="media-left col-md-4 col-sm-12">
                    <img ng-src="{{ad.item_image}}" class="media-object">
                    <a ui-sref="editAd({id:ad.id})">Edit Post</a> |
                    <a ng-click="$ctrl.deleteAd(ad)">Delete Post</a>
                </div>

                <div class="media-body col-md-8 col-sm-12">
                    <h4 class="media-heading">
                              {{ ad.title }}
                              </h4>

                    <p class="text-left">
                        {{ ad.author }}
                    </p>

                    <p>
                        {{ ad.description }}
                    </p>
                    <div>
                        Price: ${{ad.price}}
                    </div>
                    <p>
                        {{ ad.created_at | date:medium }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
